// default font - start
// ==================================================
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
// default font - end
// ==================================================

// font weight - start
// ==================================================
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-semibold: 600;
// font weight - end
// ==================================================

// default colors - start
// ==================================================
$default-pink: #e52e87;
$default-blue: #159ce8;
$default-color: #555555;
$default-black: #000000;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #eeeeee;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;

$twitter: #1da1f2;
$youtube: #ff0000;
$facebook: #3b5998;
$linkedin: #007bb5;
$pinterest: #bd081c;
$google-plus: #db4437;
$instagram-magenta: #c32aa3;
// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================