/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  Mobiphone
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  18 June 2019
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Open+Sans:400,400i,600,600i,700,700i&display=swap');

@import "variable";
@import "reset";
@import "header";
@import "footer";

@import "_home.scss";
@import "_responsive.scss";